.frame {
  border: 2px solid get-color(pallet, high);
  border-radius: 10px;
  width: 100%;
  max-width: 420px;
}

.droparea {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border: 2px dashed #b9b9b9;
  border-radius: 5px;
  height: 150px;
  width: 250px;
  &_hint {
    font-size: get-font-size(m);
    text-align: center;
    width: 150px;
  }
  &_input {
    opacity: 0;
    position: absolute;
  }
  &.active {
    background: #ffffff38;
  }
}

.filearea {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &_name {
    font-size: get-font-size(s);
    margin-top: 5px;
  }
  &_actions {
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    margin-top: 10px;
  }
}
